In [2]:
import pandas as pd
import numpy as np

In [66]:
mldx_arrays = [np.array(['lion', 'lion', 'lion', 'bison',
                         'bison', 'bison', 'hawk', 'hawk',
                         'hawk']),
                 
               np.array(['height', 'weight', 'speed',
                         'height', 'weight', 'speed',
                         'height', 'weight', 'speed'])]
  
# creating a multi-index dataframe
# with random data
multiindex_df = pd.DataFrame(
  np.random.randn(9, 4), index=mldx_arrays,
  columns=['Type A', 'Type B', 'Type C', 'Type D'])
  
multiindex_df.index.names = ['level 0', 'level 1']
multiindex_df

                   Type A    Type B    Type C    Type D
level 0 level 1
lion    height  -0.983615  0.436526 -0.206701 -0.738286
        weight  -0.006612 -0.626242 -0.358782  1.557002
        speed   -0.448169 -1.367454 -1.547681 -0.378714
bison   height  -0.232709  2.361878 -0.516377  0.538056
        weight   0.087759  0.141293 -0.303149 -0.057166
        speed    0.414640  1.723031  0.096831 -2.851318
hawk    height  -1.293063 -1.063248  0.703689  2.205254
        weight  -0.145230 -0.113198 -0.616203 -0.834577
        speed    1.512204 -1.056592 -1.337133  0.373493

In [21]:
multiindex_df

                   Type A    Type B    Type C    Type D
level 0 level 1
lion    height  -0.497092 -0.988164 -0.459514  0.205916
        weight   0.505292  1.095456 -0.380310 -0.306482
        speed   -1.975876  1.166691 -0.957103 -0.976507
bison   height   1.525981  0.860865  0.918300 -0.446107
        weight  -0.565012  0.367502  0.969422  0.440667
hawk    height   3.648540  0.265540  2.644889  0.804556
        weight  -2.129913  1.410177 -0.942142  0.535391
        speed   -0.724201 -0.570907 -1.014482  0.747360

In [24]:
df_to_drop = pd.MultiIndex.from_product([
        ['lion'], 
        ['weight']])

In [76]:
def drop_multi(df, ind_level_0:str, ind_level_1:list):
    #for ind_0 in ind_level_0:
    for ind_1 in  ind_level_1:
        df.drop((ind_level_0, ind_1), axis=0, inplace=True)

In [78]:
drop_multi(multiindex_df,'lion', ['height', 'weight'])

In [79]:
multiindex_df

                   Type A    Type B    Type C    Type D
level 0 level 1
lion    speed   -0.448169 -1.367454 -1.547681 -0.378714
bison   height  -0.232709  2.361878 -0.516377  0.538056
        weight   0.087759  0.141293 -0.303149 -0.057166
        speed    0.414640  1.723031  0.096831 -2.851318
hawk    speed    1.512204 -1.056592 -1.337133  0.373493

In [ ]:
def drop_multi(df, ind_level_0:str, ind_level_1:list):
    for ind_1 in  ind_level_1:
        df.drop((ind_level_0, ind_1), axis=0, inplace=True)

In [8]:
midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
...                              ['speed', 'weight', 'length']],
...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])

In [9]:
df = pd.DataFrame(index=midx, columns=['big', 'small'],
...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
...                         [250, 150], [1.5, 0.8], [320, 250],
...                         [1, 0.8], [0.3, 0.2]])

In [10]:
df

                 big  small
lama   speed    45.0   30.0
       weight  200.0  100.0
       length    1.5    1.0
cow    speed    30.0   20.0
       weight  250.0  150.0
       length    1.5    0.8
falcon speed   320.0  250.0
       weight    1.0    0.8
       length    0.3    0.2

In [11]:
df.drop(index='cow', columns='small')

                 big
lama   speed    45.0
       weight  200.0
       length    1.5
falcon speed   320.0
       weight    1.0
       length    0.3

In [12]:
df.drop(index='length', level=1)

                 big  small
lama   speed    45.0   30.0
       weight  200.0  100.0
cow    speed    30.0   20.0
       weight  250.0  150.0
falcon speed   320.0  250.0
       weight    1.0    0.8

In [ ]:
df.drop([])